/bootstrap/compiled.php
/vendor
/system
/public/img
/public/system
sftp-config.json
composer.phar
composer.lock
.DS_Store
Thumbs.db

.idea/
.idea
.idea/workspace.xml
workspace.xml

.vagrant

Code/
viviosoft/
